a.mute-link:link { text-decoration: none; color: #212529; }
a.mute-link:visited { text-decoration: none; color: #212529; }
a.mute-link:hover { text-decoration: none; color: #212529; }
a.mute-link:active { text-decoration: none; color: #212529; }
