{% extends 'base.html' %}

{% block content %}
<div class="row my-5">
    <div class="col-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('index.index') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><b>Manage Order</b></li>
            </ol>
        </nav>

        <div id="role-list" class="list-group">
            <a href="{{ url_for('order.index', user_id=current_user.user_id) }}" class="list-group-item list-group-item-action d-flex justify-content-between {% if not filter %} active {% endif %}">All
                <span class="badge bg-secondary rounded-pill">{{ orderCount['all'] }}</span>
            </a>
            <a href="{{ url_for('order.filterIndex', user_id=current_user.user_id, status='processing') }}" class="list-group-item list-group-item-action d-flex justify-content-between {% if filter=='processing' %} active {% endif %}">Processing
                <span class="badge bg-secondary rounded-pill">{{ orderCount['processing'] }}</span>
            </a>
            <a href="{{ url_for('order.filterIndex', user_id=current_user.user_id, status='delivering') }}" class="list-group-item list-group-item-action d-flex justify-content-between {% if filter=='delivering' %} active {% endif %}">Delivering
                <span class="badge bg-secondary rounded-pill">{{ orderCount['delivering'] }}</span>
            </a>
            <a href="{{ url_for('order.filterIndex', user_id=current_user.user_id, status='delivered') }}" class="list-group-item list-group-item-action d-flex justify-content-between {% if filter=='delivered' %} active {% endif %}">Delivered
                <span class="badge bg-secondary rounded-pill">{{ orderCount['delivered'] }}</span>
            </a>
        </div>
    </div>

    <div class="col-9">
        <div class="row">
            <div class="col-9">
                <form action="" method="post" class="form" role="form">
                    {{ searchForm.hidden_tag() }}
                    <div class="form-floating">
                        {{ searchForm.search(class="form-control", placeholder='search') }}
                        {{ searchForm.search.label() }}
                    </div>
                </form>
            </div>

            <table id="orderDetailsList" class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Username</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Shipping Address</th>
                        <th></th>
                    </tr>
                </thead>
                {% for order in orders %}
                <tbody>
                    <td>{{ order.Order.order_id }}</td>
                    <td>{{ order.Customer.username }}</td>
                    <td>${{ order.Order.amount }} (${{ order.Order.shippingFee }} Shipping Fee)</td>
                    <td>{{ order.Order.status }}</td>
                    <td>{{ order.CustomerAddress.address }}</td>

                    <td>
                        {% if current_user.role == 'staff' %}
                        <div class="btn-group">
                            <a class="btn btn-info" href="{{ url_for('order.details', order_id=order.Order.order_id) }}">Details</a>
                            <a class="btn btn-warning" href="{{ url_for('order.process', order_id=order.Order.order_id) }}">Process</a>
                        </div>
                        {% else %}
                        <a class="btn btn-info" href="{{ url_for('order.details', order_id=order.Order.order_id) }}">Details</a>
                        {% endif %}
                    </td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
