{% extends 'base.html' %}

{% block content %}
<h2>Order Details </h2>
<table class="table">
    <tbody>
    <tr>
        <td colspan="2">
            <h4 style="text-align: center;">Summary</h4>
        </td>
    </tr>
    <tr>
        <th>Order ID</th>
        <td>{{ order.id }}</td>
    </tr>
    <tr>
        <th>Creation Date</th>
        <td>{{ order.createdAt }}</td>
    </tr>
    <tr>
        <th>Total price</th>
        <td>{{ order.total }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ order.status }}</td>
    </tr>
    <tr>
        <td colspan="2">
            <h4 style="text-align: center;">Item details</h4>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table class="table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for i in order.items %}
                <tr>
                    <td>{{ i.product.title }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>{{ i.unitPrice }}</td>
                    <td>{{ i.total }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

{% endblock %}
