{% extends 'base.html' %}

{% block content %}

<form action="" method="post" class="form" role="form">
    {{ addAddressForm.hidden_tag() }}

    <div class="form-floating my-3">
        {{ addAddressForm.country(class="form-control") }}
        {{ addAddressForm.country.label() }}
    </div>

    <div class="form-floating my-3">
        {{ addAddressForm.city(class="form-control") }}
        {{ addAddressForm.city.label() }}
    </div>

    <div class="form-floating my-3">
        {{ addAddressForm.address(class="form-control") }}
        {{ addAddressForm.address.label() }}
    </div>

    <div class="form-floating my-3">
        {{ addAddressForm.postal_code(class="form-control") }}
        {{ addAddressForm.postal_code.label() }}
    </div>

    <div class="form-floating my-3">
        {{ addAddressForm.telephone(class="form-control") }}
        {{ addAddressForm.telephone.label() }}
    </div>

    {{ addAddressForm.submit(class='btn btn-primary px-5') }}
</form>

{% endblock %}
