{% import 'bootstrap/wtf.html' as wtf %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{ fontawesome_html() }}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>MoonBird</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a id="Home" class="navbar-brand" href="{{ url_for('index.index') }}">
                <img src="{{ url_for('static', filename='images/moonbird.png') }}" alt="" height="40" class="d-inline-block align-text-top">
            </a>
            {% if current_user.is_authenticated %}
            <div class="">
                <ul class="navbar-nav">
                    {% if current_user.role == 'admin' %}
                    <!-- Admin Nav bar -->
                    <li class="nav-item"><a id="ManageUser" href='{{ url_for('user.index') }}' class="nav-link"><i class="fas fa-users me-1"></i>Manage Users</a></li>
                    {% elif current_user.role == 'staff' %}
                    <!-- Staff Nav bar -->
                    <li class="nav-item mx-1"><a id="ManageProduct" href='{{ url_for('product.index') }}' class="nav-link"><i class="fas fa-boxes me-2"></i>Manage Products</a></li>
                    <li class="nav-item mx-1"><a id="ManagePromotions" href='{{ url_for('discount.index') }}' class="nav-link"><i class="fas fa-ticket-alt me-2"></i>Manage Discounts</a></li>
                    <li class="nav-item mx-1"><a id="ManageOrders" href='#' class="nav-link"><i class="fas fa-file-alt me-2"></i>Manage Orders</a></li>
                    {% else %}
                    <!-- customer Nav bar -->
                    <li class="nav-item"><a id="ShoppingCart" href='#' class="nav-link"><i class="fas fa-shopping-cart me-1"></i>Shopping Cart</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="">
                <ul class="navbar-nav">
                    <li class="nav-item"><a id="UserProfile" href='{{ url_for('user.profile', user_id=current_user.user_id) }}' class="nav-link"><i class="fas fa-user me-1"></i>{{ current_user.username }}</a></li>
                    <li class="nav-item"><a id="Logout" href='{{ url_for('index.logout') }}' class="nav-link"><i class="fas fa-sign-out-alt me-1"></i>Logout</a></li>
                </ul>
            </div>
            {% else %}
            <div class="">
                <ul class="navbar-nav">
                    <li class="nav-item"><a id="Login" href='{{ url_for('index.login') }}' class="nav-link"><i class="fas fa-sign-in-alt me-1"></i>Login</a></li>
                    <li class="nav-item"><a id="SignUp" href='{{ url_for('index.register') }}' class="nav-link"><i class="fas fa-user-plus me-1"></i>Sign-up</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="icon-success" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </symbol>
            <symbol id="icon-info" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </symbol>
            <symbol id="icon-warning" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </symbol>
            <symbol id="icon-danger" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </symbol>
        </svg>

        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class='pt-3'>
            <div class='alert alert-{{ category }} d-flex align-items-center alert-dismissible fade show' role='alert'>
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="{{ category }}:">
                    <use xlink:href="#icon-{{ category }}" />
                </svg>
                <div class="flash">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
