{% extends 'base.html' %}

{% block content %}
<div class="row my-5">
    <div class="col-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('index.index') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Discount</li>
            </ol>
        </nav>

        <div id="role-list" class="list-group">
            <a href="{{ url_for('discount.index') }}" class="list-group-item list-group-item-action d-flex justify-content-between {% if not filter %} active {% endif %}">All Discount
                <span class="badge bg-secondary rounded-pill">{{ discountCount['all'] }}</span>
            </a>
            <a href="{{ url_for('discount.filterIndex', type='product') }}" class="list-group-item list-group-item-action d-flex justify-content-between {% if filter=='product' %} active {% endif %}">Product Discount
                <span class="badge bg-secondary rounded-pill">{{ discountCount['product'] }}</span>
            </a>
            <a href="{{ url_for('discount.filterIndex', type='shipping') }}" class="list-group-item list-group-item-action d-flex justify-content-between {% if filter=='shipping' %} active {% endif %}">Shipping Discount
                <span class="badge bg-secondary rounded-pill">{{ discountCount['shipping'] }}</span>
            </a>
            <a href="{{ url_for('discount.filterIndex', type='order') }}" class="list-group-item list-group-item-action d-flex justify-content-between {% if filter=='order' %} active {% endif %}">Order Discount
                <span class="badge bg-secondary rounded-pill">{{ discountCount['order'] }}</span>
            </a>
        </div>
    </div>

    <div class="col-9">
        <div class="row">
            <div class="col-9">
                <form action="" method="post" class="form" role="form">
                    {{ searchForm.hidden_tag() }}
                    <div class="form-floating">
                        {{ searchForm.search(class="form-control", placeholder='search') }}
                        {{ searchForm.search.label() }}
                    </div>
                </form>
            </div>

            <div class="col-3">
                <div class="btn-group-vertical float-end" role="group" aria-label="Basic mixed styles example">
                    <a href="{{ url_for('discount.create', type='product') }}" type="button" class="btn btn-success">New Product Discount</a>
                    <a href="{{ url_for('discount.create', type='shipping') }}" type="button" class="btn btn-success">New Shipping Discount</a>
                    <a href="{{ url_for('discount.create', type='order') }}" type="button" class="btn btn-success">New Order Discount</a>
                </div>
            </div>

            <table id="discountInfoList" class="table table-hover">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Start At</th>
                        <th>End At</th>
                        <th></th>
                    </tr>
                </thead>
                {% for discount in discounts %}
                <tbody>
                    <td>{{ discount.discount_code }}</td>
                    <td>{{ discount.description }}</td>
                    <td>{{ discount.type }}</td>
                    <td>{{ discount.start_at }}</td>
                    <td>{{ discount.end_at }}</td>
                    <td>
                        <a class="btn btn-info" href="{{url_for('discount.update', discount_code=discount.discount_code) }}">Edit</a>
                    </td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
