{% extends 'index.html' %}


{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('index.index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="Home">Manage Product</li>
    </ol>
</nav>
{% endblock %}

{% block category %}
<a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#Modal_AddANewCategory">+ Add a new category</a>
<a href="{{ url_for('product.index') }}" class="list-group-item list-group-item-action d-flex justify-content-between active">All Product
    <span class="badge bg-secondary rounded-pill">0</span>
</a>
{% for category in categories %}
<li class="list-group-item list-group-item-action d-flex justify-content-between">
    {% if category.category_id == filter %}
    <a href="{{ url_for('product.filterIndex', category_id=category.category_id) }}" class="mute-link d-flex flex-fill justify-content-between active">{{ category.name }}
        <span class="badge bg-secondary rounded-pill">{{ categoryCount[category.category_id] }}</span>
    </a>
    {% else %}
    <a href="{{ url_for('product.filterIndex', category_id=category.category_id) }}" class="mute-link d-flex flex-fill justify-content-between">{{ category.name }}
        <span class="badge bg-secondary rounded-pill">{{ categoryCount[category.category_id] }}</span>
    </a>
    {% endif %}
    <div class="d-flex">
        {% if category.is_active %}
        <a type="button" class="btn-close" aria-label="Close" href="{{ url_for('product.withholdCategory', category_id=category.category_id) }}"></a>
        {% else %}
        <a type="button" class="btn p-0" href="{{ url_for('product.publishCategory', category_id=category.category_id) }}"><i class="fas fa-plus px-1"></i></a>
        {% endif%}
    </div>
</li>
{% endfor %}
{% endblock %}

{% block product %}
<div class="col">
    <!-- <a href="#" class=""> -->
    <div class="card shadow-sm" data-bs-toggle="modal" data-bs-target="#Modal_AddANewProduct">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">+</text>
        </svg>
        <div class="card-body">
            <p class="card-text">Add a new product</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">$---</small>
                <button type="button" class="btn btn-sm btn-outline-secondary">category name</button>
            </div>
        </div>
    </div>
</div>

{% for product in products %}
<div class="col">
    <div class="card shadow-sm">
        <a class='mute-link' href="{{ url_for('product.details', product_id=product.Product.product_id) }}">
            <div class="bd-placeholder-img card-img-top" width="100%" height="225">
                <img src="{{ product.Product.image_url }}" />
            </div>
            <div class="card-body">
                <p class="card-text">{{ product.Product.name }}</p>
                <p class="card-text">{{ product.Product.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    {% if product.ProductDiscount is not none %}
                    <small class="text-muted"><del>${{ product.Product.price }}</del></small>
                    <small class="text-success">${{ product.Product.price * (1-product.ProductDiscount.discountPercentage/100) }}</small>
                    <small class="text-success">{{ product.ProductDiscount.discountPercentage }}% off</small>
                    {% else %}
                    <small class="text-muted">${{ product.Product.price }}</small>
                    {% endif %}
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ url_for('product.filterIndex', category_id=product.ProductCategory.category_id) }}">{{ product.ProductCategory.name }}</a>
                </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}

{% endblock %}


{% block modal %}
<!-- New Category Modal -->
<div class="modal fade" id="Modal_AddANewCategory" tabindex="-1" aria-labelledby="AddANewCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal_AddANewCategory_Label">Add a new category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post" class="form" role="form">
                {{ newCategoryForm.hidden_tag() }}
                <div class="modal-body">
                    <div class="form my-3">
                        {{ newCategoryForm.categoryName.label() }}
                        {{ newCategoryForm.categoryName(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newCategoryForm.categoryDescription.label() }}
                        {{ newCategoryForm.categoryDescription(class="form-control") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                    {{ newCategoryForm.categorySubmit(class='btn btn-primary px-3') }}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- New Product Modal -->
<div class="modal fade" id="Modal_AddANewProduct" tabindex="-1" aria-labelledby="AddANewProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal_AddANewProduct_Label">Add a new product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post" class="form" role="form">
                {{ newProductForm.hidden_tag() }}
                <div class="modal-body">
                    <div class="form my-3">
                        {{ newProductForm.productName.label() }}
                        {{ newProductForm.productName(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.productDescription.label() }}
                        {{ newProductForm.productDescription(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.image_url.label() }}
                        {{ newProductForm.image_url(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.price.label() }}
                        {{ newProductForm.price(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.quantity.label() }}
                        {{ newProductForm.quantity(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.category.label() }}
                        {{ newProductForm.category(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.discount.label() }}
                        {{ newProductForm.discount(class="form-control") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                    {{ newProductForm.productSubmit(class='btn btn-primary px-3') }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
