{% extends 'base.html' %}

{% block title %}Manage User Page{% endblock title %}

{% block content %}

            <table id="data" class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                {% for eachuser in userlist %}
                  <tr>
                    <td> {{ eachuser.username }} </td>
                    <td> {{ eachuser.create_at }} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

{% endblock %}