{% extends 'base.html' %}

{% block content %}
<div class="btn-group float-end pt-4" role="group" aria-label="Basic mixed styles example">
    <a href="{{ url_for('user.create', role='customer') }}" type="button" class="btn btn-success">New Customer</a>
    <a href="{{ url_for('user.create', role='staff') }}" type="button" class="btn btn-success">New Staff</a>
</div>

<table id="data" class="table table-hover">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Role</th>
            <th>is_confirmed</th>
            <th>Last login</th>
            <th>Create at</th>
            <th>Modified at</th>
            <th>#</th> <!-- TODO: column name, action? / operations? -->
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.DOB }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.confirm }}</td>
            <td>{{ user.last_login }}</td>
            <td>{{ user.create_at }}</td>
            <td>{{ user.modified_at }}</td>
            <td>
                <div class="btn-group-vertical ">
                    <a class="btn btn-info btn-block" type="button" href="{{ url_for('user.profile', user_id=user.user_id) }}">View</a>
                    <a class="btn btn-danger btn-block" type="button" href="{{ url_for('user.delete', user_id=user.user_id) }}">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
