{% extends 'index.html' %}

{% block category %}
{% if current_user.is_authenticated and current_user.role == 'staff' %}
<a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#Modal_AddANewCategory">+ Add a new category</a>
{% endif %}
{% for category in categories %}
<li href="#" class="list-group-item list-group-item-action d-flex justify-content-between">{{ category.name }}
    <div class="d-flex justify-content-end">
        <span class="badge bg-secondary rounded-pill">0</span>
        {% if current_user.is_authenticated and current_user.role == 'staff' %}
        <a type="button" class="btn-close" aria-label="Close" href="{{ url_for('product.deleteCategory', category_id=category.category_id) }}"></a>
        {% endif %}
    </div>
</li>
{% endfor %}
{% endblock %}

{% block categoryCross %}
{% if current_user.is_authenticated and current_user.role == 'staff' %}

{% endif %}
{% endblock %}

{% block product %}
{% if current_user.is_authenticated and current_user.role == 'staff' %}
<div class="col">
    <!-- <a href="#" class=""> -->
    <div class="card shadow-sm" data-bs-toggle="modal" data-bs-target="#Modal_AddANewProduct">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">+</text>
        </svg>
        <div class="card-body">
            <p class="card-text">Add a new product</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">category name</button>
                </div>
                <small class="text-muted">$---</small>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block modal %}
<!-- New Category Modal -->
<div class="modal fade" id="Modal_AddANewCategory" tabindex="-1" aria-labelledby="AddANewCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal_AddANewCategory_Label">Add a new category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post" class="form" role="form">
                {{ newCategoryForm.hidden_tag() }}
                <div class="modal-body">
                    <div class="form my-3">
                        {{ newCategoryForm.categoryName.label() }}
                        {{ newCategoryForm.categoryName(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newCategoryForm.categoryDescription.label() }}
                        {{ newCategoryForm.categoryDescription(class="form-control") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                    {{ newCategoryForm.categorySubmit(class='btn btn-primary px-3') }}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- New Product Modal -->
<div class="modal fade" id="Modal_AddANewProduct" tabindex="-1" aria-labelledby="AddANewProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal_AddANewProduct_Label">Add a new product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post" class="form" role="form">
                {{ newProductForm.hidden_tag() }}
                <div class="modal-body">
                    <div class="form my-3">
                        {{ newProductForm.productName.label() }}
                        {{ newProductForm.productName(class="form-control", placeholder='Product Name') }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.productDescription.label() }}
                        {{ newProductForm.productDescription(class="form-control", placeholder='Product Description') }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.price.label() }}
                        {{ newProductForm.price(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.quantity.label() }}
                        {{ newProductForm.quantity(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.category.label() }}
                        {{ newProductForm.category(class="form-control") }}
                    </div>
                    <div class="form my-3">
                        {{ newProductForm.discount.label() }}
                        {{ newProductForm.discount(class="form-control") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                    {{ newProductForm.productSubmit(class='btn btn-primary px-3') }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
