{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Product Page{% endblock title %}

{% block content %}
<div class="">
  <!-- <div class="input-group">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div> -->
  {{ wtf.quick_form(form) }}
</div>



<div class="row">
  <div class="col-3">
    <div class="list-group">
    {% for category in categories %}
    <a href="#" class="list-group-item list-group-item-action">{{ category.name }}</a>
    {% endfor %}
    </div>
  </div>

  <div class="col-9">
    {% for product in products %}
    <div class="col-3">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ product.name }}</text>
        </svg>

        <div class="card-body">
          <p class="card-text">{{ product.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">a</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">b</button>
            </div>
            <small class="text-muted">${{ product.price }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
