{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
{% if current_user.is_authenticated and current_user.role == 'staff' %}
<form action="" method="post" class="form" role="form">
    {{ form.hidden_tag() }}

    <div class="form-floating my-3">
        {{ form.productName(class="form-control disable") }}
        {{ form.productName.label() }}
    </div>

    <div class="form-floating my-3">
        {{ form.productDescription(class="form-control") }}
        {{ form.productDescription.label() }}
    </div>

    <div class="form-floating my-3">
        {{ form.price(class="form-control") }}
        {{ form.price.label() }}
    </div>

    <div class="form-floating my-3">
        {{ form.quantity(class="form-control") }}
        {{ form.quantity.label() }}
    </div>

    <div class="form-floating my-3">
        {{ form.category(class="form-control") }}
        {{ form.category.label() }}
    </div>

    <div class="form-floating my-3">
        {{ form.discount(class="form-control") }}
        {{ form.discount.label() }}
    </div>

    <div class="btn-group">
        {{ form.productSubmit(class='btn btn-primary px-5') }}
        <a class="btn btn-danger px-5" href="{{ url_for('product.deleteProduct', product_id=product.product_id) }}">Delete</a>
    </div>
</form>
{% else %}
<div class="row my-5">
    <div class="col-md-6 mb-4 mb-md-0">
      <div class="col-md-10">
          <div class="images p-3">
              <div class="text-center p-4"> <img id="main-image" src=" {{ product.image_url }} " width="450" /> </div>
          </div>
      </div>
    </div>
    <div class="col-md-6">
        <h5 class="text-uppercase"> {{ product.name }} </h5>
        <p class="mb-2 text-muted text-uppercase small"> {{ category.name }} </p>
        <p class="text-muted mb-0">Available: <span class="fw-bold">{{ product.quantity }}</span></p>
        <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
        <div class="price d-flex flex-row align-items-center"> <span class="act-price">${{ product.price }}</span>
        </div>
        <p class="pt-1">{{ product.description }}</p>
        <p class="pt-1">Available: {{ product.quantity }}</p>

        <hr />
        <form method="post" action="" class="form" role="form">
            {{ form.hidden_tag() }}
            <div class="row justify-content-center">
                <div class="col-1 my-2">
                    <button onclick="quantityStepDown(this)" type="button" class="btn btn-danger bi bi-dash"></button>
                </div>
                <div class="col-8 form-floating">
                    {{ form.quantity(class="form-control", placeholder="quantity", type="number", min="0") }}
                    {{ form.quantity.label() }}
                </div>
                <div class="col-1 my-2">
                    <button onclick="quantityStepUp(this)" type="button" class="btn btn-success bi bi-plus"></button>
                </div>
                <div class="col-auto my-3">
                    {{ form.addToCard(class='btn btn-primary px-5') }}
                </div>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/productDetails.js') }}"></script>

{% endif %}
{% endblock content %}
