{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Register Page{% endblock title %}

{% block content %}
<div class="card text-dark bg-light mx-auto mt-5" style="width: 36rem;">
  <div class="card-header">
    <h2>Register</h2>
  </div>

  <div class="card-body text-center">
    <form action="" method="post" class="form" role="form">
      {{ form.hidden_tag() }}

      <div class="form-floating my-3">
        {{ form.email(class="form-control", placeholder='Email') }}
        {{ form.email.label() }}
      </div>

      <div class="form-floating my-3">
        {{ form.username(class="form-control", placeholder='Username') }}
        {{ form.username.label() }}
      </div>

      <div class="form-floating my-3">
        {{ form.password(class="form-control", placeholder='Password') }}
        {{ form.password.label() }}
      </div>

      <div class="form-floating my-3">
        {{ form.password2(class="form-control", placeholder='Confirm Password') }}
        {{ form.password2.label() }}
      </div>

      <div class="form-floating my-3">
        {{ form.first_name(class="form-control", placeholder='First Name') }}
        {{ form.first_name.label() }}
      </div>

      <div class="form-floating my-3">
        {{ form.last_name(class="form-control", placeholder='Last Name') }}
        {{ form.last_name.label() }}
      </div>

      <div class="form-floating my-3">
        {{ form.BOD(class="form-control") }}
        {{ form.BOD.label() }}
      </div>

      {{ form.submit(class='btn btn-primary px-5') }}
    </form>
  </div>

  <div class="card-footer text-mute text-center">
    <a type="button" class="btn btn-sm btn-outline-secondary px-3 mt-3" href='{{ url_for('index.login') }}'>Alreday have an account?</a>
    <p class='my-2'>&copy; 2021 CSIE, NTUT</p>
  </div>
</div>
{% endblock %}
