{% extends 'base.html' %}

{% block content %}
<div class="card text-dark bg-light mx-auto mt-5" style="width: 36rem;">
  <div class="card-header">
    <h2>Reset Password</h2>
  </div>

  <div class="card-body text-center">
    <form action="" method="post" class="form" role="form">
      {{ form.hidden_tag() }}

      <div class="form-floating my-3">
        {{ form.password(class="form-control", placeholder='New Password') }}
        {{ form.password.label() }}
      </div>

      <div class="form-floating my-3">
        {{ form.password2(class="form-control", placeholder='Confirm Password') }}
        {{ form.password2.label() }}
      </div>

      {{ form.submit(class='btn btn-primary px-5') }}
    </form>
  </div>

  <div class="card-footer text-mute text-center">
    <p class='my-2'>&copy; 2021 CSIE, NTUT</p>
  </div>
</div>
{% endblock %}
