{% extends 'base.html' %}

{% block content %}
{% for errors in checkoutForm.errors.values() %}
{% for error in errors %}
<div class='pt-3'>
    <div class='alert alert-warning d-flex align-items-center alert-dismissible fade show' role='alert'>
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="warning:">
            <use xlink:href="#icon-warning" />
        </svg>
        <div class="flash">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}

<div class="row g-5 my-1">
    <div class="col-md-6 col-lg-5 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill">{{ quantity }}</span>
        </h4>
        <ul class="list-group mb-3">
            <!-- Cart Items -->
            {% for item in items %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">{{ item.name }}<sup class="badge bg-primary rounded-pill">{{ item.quantity }}</sup></h6>

                    <small class="text-muted">{{ item.description }}</small>
                </div>
                {% if item.discountPercentage %}
                {% set np = item.amount * (1-item.discountPercentage/100) %}
                <div>
                    <span class="text-success">${{ '%.2f' % np|float }}</span>
                    <span class="text-muted"><del>${{ item.amount }}</del></span>
                </div>
                {% else %}
                <span class="text-muted">${{ item.amount }}</span>
                {% endif %}
                <a href="{{ url_for('product.removeFromCart', item_id=item.product_id) }}" class="btn btn-danger btn-close"></a>
            </li>
            {% endfor %}

            <li class="list-group-item d-flex justify-content-between" id="subTotal">
                <span>Sub-Total (USD)</span>
                <strong>${{ '%.2f' % amount|float }}</strong>
            </li>

            <!-- Shipping Fee -->
            {% if shippingDiscount and shippingDiscount.atLeastAmount < amount %}
            <li class="list-group-item d-flex justify-content-between bg-light" id="shippingFee">
                <div>
                    <h6 class="my-0 text-success">Shipping Fee</h6>
                    <small class="text-success">You have reached the free shipping amount.</small>
                </div>
                <span class="text-success">$0</span>
            </li>
            {% elif shippingDiscount %}
            <li class="list-group-item d-flex justify-content-between lh-sm" id="shippingFee">
                <div>
                    <h6 class="my-0">Shipping Fee</h6>
                    <small class="text-muted">5% of amount. <br />${{ shippingDiscount.atLeastAmount - amount }} left to meet the free shipping amount.</small>
                </div>
                <span class="text-muted"></span>
            </li>
            {% else %}
            <li class="list-group-item d-flex justify-content-between lh-sm" id="shippingFee">
                <div>
                    <h6 class="my-0">Shipping Fee</h6>
                    <small class="text-muted">5% of amount.</small>
                </div>
                <span class="text-muted"></span>
            </li>
            {% endif %}

            <!-- Discount Code -->
            {% if orderDiscount %}
            <li class="list-group-item d-flex justify-content-between bg-light" id="discount">
                <div class="text-success">
                    <h6 class="my-0">{{ orderDiscount.discount_code }}</h6>
                    <small>{{ orderDiscount.description }}</small>
                </div>
                <span class="text-success">−{{ orderDiscount.discountPercentage }}%</span>
            </li>
            {% endif %}

            <li class="list-group-item d-flex justify-content-between" id="totalAmount">
                <span>Total (USD)</span>
                <strong>${{ amount }}</strong>
            </li>
        </ul>

        <form class="card p-2" method='POST'>
            <div class="input-group">
                {{ redeemCodeForm.hidden_tag() }}
                {{ redeemCodeForm.code(class="form-control", placeholder='Promo code') }}
                {{ redeemCodeForm.submit(class="btn btn-secondary", placeholder='Redeem') }}
            </div>
        </form>
    </div>

    <div class="col-md-6 col-lg-7">
        <h4 class="mb-3">Address</h4>
        <form method="POST">
            {{ checkoutForm.hidden_tag() }}
            <ul class="list-group list-group-flus form-check">
                <a class="mute-link list-group-item" href="{{ url_for('user.addAddress', user_id=user_id) }}">+ Add a new address</a>
                {% for address in checkoutForm.addresses %}
                <li class="list-group-item">
                    {{ address() }}
                    {{ address.label() }}
                    <!-- <input class="form-check-input" type="radio" value="{{ address.address_id }}" id="addresses-{{ loop.index0 }}">
                    <label class="form-check-label" for="addresses-{{ loop.index0 }}">
                        <p class="my-0">{{ address.address }}</p>
                        <small class="text-muted mx-3">{{ address.city }}</small>
                        <small class="text-muted mx-1">{{ address.country }}</small><br />
                        <small class="text-muted mx-3">Tel: {{ address.telephone }}</small>
                    </label> -->
                </li>
                {% endfor %}
            </ul>

            <hr class="my-4">

            <h4 class="mb-3">Payment</h4>

            <div class="row my-3">
                {% for type in checkoutForm.paymentType %}
                <div class="col-3 form-check">
                    {{ type(class="form-check-input") }}
                    {{ type.label(class="form-check-label") }}
                </div>
                {% endfor %}
            </div>
            <div class="row gy-3 d-none" id="creditInfo">
                <div class="col-md-6">
                    {{ checkoutForm.CreditCardNumber.label(class="form-label") }}
                    {{ checkoutForm.CreditCardNumber(class="form-control") }}
                </div>
                <div class="col-md-3">
                    {{ checkoutForm.Expiration.label(class="form-label") }}
                    {{ checkoutForm.Expiration(class="form-control") }}
                </div>
                <div class="col-md-3">
                    {{ checkoutForm.CVV.label(class="form-label") }}
                    {{ checkoutForm.CVV(class="form-control") }}
                </div>
            </div>

            <hr class="my-4">
            {{ checkoutForm.submit(class="w-100 btn btn-primary btn-lg") }}
        </form>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/shoppingCart.js') }}"></script>

{% endblock %}
