{% extends 'base.html' %}

{% block content %}
{% for errors in updateProfileForm.errors.values() %}
{% for error in errors %}
<div class='pt-3'>
    <div class='alert alert-warning d-flex align-items-center alert-dismissible fade show' role='alert'>
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="warning:">
            <use xlink:href="#icon-warning" />
        </svg>
        <div class="flash">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}

<div class="card text-dark bg-light mx-auto mt-5" style="width: 36rem;">
    <div class="card-header">
        <h2>Update Profile</h2>
    </div>

    <div class="card-body text-center">
        <form action="" method="post" class="form" role="form">
            {{ updateProfileForm.hidden_tag() }}

            <div class="form-floating my-3">
                {{ updateProfileForm.username(class="form-control", placeholder='Username') }}
                {{ updateProfileForm.username.label() }}
            </div>

            <div class="form-floating my-3">
                {{ updateProfileForm.first_name(class="form-control", placeholder='First Name') }}
                {{ updateProfileForm.first_name.label() }}
            </div>

            <div class="form-floating my-3">
                {{ updateProfileForm.last_name(class="form-control", placeholder='Last Name') }}
                {{ updateProfileForm.last_name.label() }}
            </div>

            {{ updateProfileForm.submit(class='btn btn-success px-5') }}
        </form>

        <a href="{{ url_for('user.changePassword', user_id=user.user_id) }}" class="btn btn-warning mt-3 px-3" type="button">Change Password</a>
    </div>

    <div class="card-footer text-mute text-center">
        <p class='my-2'>&copy; 2021 CSIE, NTUT</p>
    </div>
</div>

{% endblock %}
